.dt-child {
  position: absolute;
  top: 119px;
  left: 0;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 119px;
  display: none;
}
.noisy-gradients-icon4 {
  position: absolute;
  top: 0;
  left: -51px;
  width: 1517px;
  height: 1318px;
  object-fit: cover;
  display: none;
}
.dt-item {
  position: absolute;
  top: -132px;
  left: -93px;
  width: 1625px;
  height: 1176px;
  opacity: 0.25;
}
.dt-inner {
  top: 1806px;
  left: -89px;
}
.dt-child1,
.dt-child2,
.dt-child3,
.dt-child4,
.dt-inner {
  position: absolute;
  width: 1625px;
  height: 1176px;
  opacity: 0.25;
}
.dt-child1 {
  top: 2760px;
  left: -111px;
  object-fit: contain;
}
.dt-child2,
.dt-child3,
.dt-child4 {
  top: 3700px;
  left: -127px;
}
.dt-child3,
.dt-child4 {
  top: 718px;
  left: -133px;
  width: 1663px;
  height: 1322px;
}
.dt-child4 {
  top: 108px;
  left: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.75));
  width: 1440px;
  height: 108px;
  opacity: 0.5;
}
.genre7 {
  margin: 0;
}
.decision-tree1,
.genre6 {
  position: absolute;
  top: 166px;
  left: 587px;
  display: inline-block;
  width: 89px;
  height: 47px;
}
.decision-tree1 {
  top: 0;
  left: 0;
  width: 409px;
  height: 55.3px;
}
.group-child24 {
  position: absolute;
  top: 62.8px;
  left: 2px;
  width: 359px;
  height: 2.2px;
  object-fit: contain;
}
.decision-tree-parent,
.using-cart1 {
  position: absolute;
  top: 76px;
  left: 586px;
  width: 409px;
  height: 65px;
  font-size: var(--font-size-24xl-9);
}
.using-cart1 {
  top: 211px;
  left: 599px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-navajowhite-200);
  display: inline-block;
  width: 234px;
  height: 26px;
}
.decision-tree-is,
.overview12 {
  position: absolute;
  top: 261px;
  left: 587px;
  display: inline-block;
  width: 143px;
  height: 47px;
}
.decision-tree-is {
  top: 306px;
  left: 586px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-navajowhite-200);
  width: 765px;
  height: 26px;
}
.dt-child5 {
  position: absolute;
  top: 223px;
  left: 588px;
  border-radius: 50%;
  background-color: var(--color-rosybrown);
  width: 6px;
  height: 6px;
}
.add-to-favourites3 {
  position: absolute;
  top: 701px;
  left: 94px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 181px;
  height: 47px;
}
.dt-child6 {
  position: absolute;
  top: 700px;
  left: 512px;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  width: 29px;
  height: 29px;
}
.gameplay5 {
  position: absolute;
  top: 693px;
  left: 597px;
  display: inline-block;
  width: 166px;
  height: 47px;
}
.dt-child7 {
  position: absolute;
  top: 755px;
  left: 572px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  width: 481px;
  height: 286px;
}
.vector-icon12,
.vector-icon13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon13 {
  height: 23.64%;
  width: 23.64%;
  top: 38.86%;
  right: 37.5%;
  bottom: 37.5%;
  left: 38.86%;
}
.vector-parent1 {
  text-decoration: none;
  position: absolute;
  height: 3.85%;
  width: 3.06%;
  top: 3.85%;
  right: 2.22%;
  bottom: 92.31%;
  left: 94.72%;
  cursor: pointer;
}
.heart-icon2 {
  position: absolute;
  height: 1.22%;
  width: 1.13%;
  top: 61.98%;
  right: 62.83%;
  bottom: 36.8%;
  left: 36.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.enter-the-feature {
  position: absolute;
  top: 512px;
  left: 594px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 279px;
  height: 47px;
}
.dt-child8 {
  border: 0;
  outline: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 512px;
  left: 868px;
  border-radius: var(--br-11xl);
  width: 64px;
  height: 32px;
}
.enter-the-feature1 {
  position: absolute;
  top: 559px;
  left: 591px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 279px;
  height: 47px;
}
.dt-child9 {
  border: 0;
  outline: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 559px;
  left: 870px;
  border-radius: var(--br-11xl);
  width: 64px;
  height: 32px;
}
.enter-the-feature2 {
  position: absolute;
  top: 608px;
  left: 591px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 279px;
  height: 47px;
}
.dt-child10,
.dt-child11,
.dt-child12 {
  position: absolute;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  height: 32px;
}
.dt-child10 {
  border: 0;
  outline: 0;
  top: 608px;
  left: 868px;
  width: 64px;
}
.dt-child11,
.dt-child12 {
  top: 1065px;
  left: 536px;
  width: 521px;
}
.dt-child12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-navajowhite-100);
  top: 655px;
  left: 846px;
  width: 129px;
}
.credentials2,
.submit2 {
  position: absolute;
  top: 442px;
  left: 589px;
  display: inline-block;
  width: 166px;
  height: 47px;
}
.submit2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 648px;
  left: 866px;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: var(--font-familjen-grotesk);
  color: var(--color-gray-200);
  text-align: left;
  width: 153px;
}
.p4-1-icon {
  position: absolute;
  top: 88px;
  left: 92px;
  width: 449px;
  height: 584px;
  object-fit: cover;
}
.dt {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  height: 1144px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-navajowhite-100);
  font-family: var(--font-familjen-grotesk);
}
